body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: karla;
  }
  
  
  

  @media (min-width: 200px) {

    header {
      padding: 20px;
      padding-top: 50px;
     
    }
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    nav img {
      width: 100px;
    }
    
    
    nav .divlines div{
      width: 45px;
      height: 4px;
      background-color: #000000;
      margin: 6px 0;
      vertical-align: middle;
      margin-left: auto;
      align-items: flex-end;  
      
    }




    body{
      margin: 25px;
      margin-top: auto;
    }


    nav ul{
      display: none;
        position: sticky;
        top: 260px;
        left: 0;
        text-align: right;
      
    }
    nav ul li{
        display: block;
        font-size: 40px;
    }
    nav ul li a:hover{
      color: red;
      
    }

  
    nav img {
      width: 60px; 
    }
  
    main {
      padding: 15px;
    }
  
    .thebright {
      font-size: 2.5rem;
      line-height: 1.3;
      font-weight: 900;
    }
  
    p {
      font-size: 14px;
      line-height: 1.6;
    }

    .we-dive{
      color: grey;
      font-size: 1.1rem;
    }
  
    button {
      display: block;
      font-size: 0.7rem;
      width: 55%;
      padding: 15px;
      margin-bottom: 40px;
      background-color: #fe5656e4;
      color: #000000;
      border: none;
      margin-top: 15px;
      font-weight: 900;
      letter-spacing: 3px;
      box-shadow: 2px solid black;
    }
    button{
      font-size: 0.7rem;
      width: 60%;
      display: block;
    }
  
    .new, .endarticles {
      margin-top: 20px;
    }
    .border1, .border2{
      border-bottom: 3px solid rgba(255, 255, 255, 0.235);
      padding-bottom: 30px;
      padding-top: px;
    }
    .border2{
      padding-top: 20px;
    }
    .border3{
      padding-top: 20px;
    }
    .new p{
      color: rgb(163, 162, 162);
      
    }
    .new-word {
      
      font-size: 2rem;
      font-weight: bolder;
      margin-top: 50px;
      margin-bottom: 10px;
      color: rgb(255, 187, 0);
    }
    .new{
      background-color: rgb(0, 0, 58);
      padding-top: 0.4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      color: white;

    }
    .newhead1, .newhead2, .newhead3{
      margin-bottom: 15px;
      color: white;
      
      font-size: 1rem;
      font-weight: bold;
      
      
    }
  
    .endarticles {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .endarticles img{
      width: 40%;
      float: left;
      position: relative;
      padding: 0;
      margin: 0;
    }
  
    .firstart, .secondart, .thirdart {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    
    .endnums{
      font-size: 30px;
      font-weight: 800;
      color: tomato;
    }
  
    .endhead{
      font-weight: 400  ;
      font-size: 17px;
      font-weight: 700;
    }

    img {
      width: 100%;
      height: auto;
    }
    .endarticles img{
      width: 40%;
      height: 100%;
    }
    .wtimg{
      padding-left: 9rem;
      /* margin-left: 10rem; */
    }
  
  }


  @media (min-width: 800px) {

    body{
      margin: 6rem;
      margin-top: auto;
    }
    header {
      padding-top: 50px;
      padding-bottom: 0;
    }
    .divlines{
      display: none;
    }
    nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* padding-bottom: 1rem; */
    }
    
    nav img {
      width: 3rem;
      justify-content: left;
    }
    nav ul{
      margin-left: auto;
      display: flex;
    }
    nav ul li{
        display: block;
        margin-left: 1.5rem;
        font-size: 0.8rem;
        font-weight: 500;
    }
    nav ul li a{
      text-decoration: none;
      color: grey;
      
    }
    nav ul li a:hover{
      color: red;
    }
    /* main{
      width: 65%;
    } */

    .main-img{
      content: url(assets/images/image-web-3-desktop.jpg);
      width: 65%;
      float: left;
    }
    .bright-wedive{
      display: flex;
      float: left;
      width: 65%;
      font-size: 5px;
      
      /* margin-right: 35%; */
      /* flex-wrap: wrap; */
    }
    .thebright{

      /* width: 50%; */
      /* float: left; */
      /* width: 50%; */
      font-size: 2.4rem;
      padding-right: auto;
      margin-bottom: 0;
      font-weight: 4000;
      line-height: 2.4rem;
      
    }
    button{
      font-size: 0.7rem;
      width: 60%;
      padding: 0.5rem;
      display: block;
      margin-bottom: 0.7rem;
    }
    button:hover{
      cursor: pointer;
      color: rgb(46, 41, 114);
    }
   .we-dive{
    line-height: 1rem;
      /* display: block;     */
      color: grey;
      font-size: 0.8rem;
      width: 100%;
      padding-left: 15px;
      margin-top: 2.5rem;
    }

    .new{
      background-color: rgb(1, 1, 32);
      color: white;
      margin-top: 0;
      padding-left: 1rem;
      padding-top: 0.2rem;
      padding-right: 0.7rem;
      padding-bottom: 0.2rem;
      margin-left: 70%;
      /* width: 20%; */
      /* float: right; */

    }
    .new-word{
      font-size: 1.7rem;
      font-weight: 500;
      color: rgb(255, 179, 0);
      margin-bottom: 0;
    }

    .newhead1, .newhead2, .newhead3{
      margin-bottom: 0;
      color: white;
      padding-bottom: 0.1rem;
      font-size: 0.8rem;
      font-weight: bold;

    }
    .new p{
      font-size: 0.7rem;
      padding-bottom: 1rem;
      margin-bottom: 0;
    }

    .border1, .border2{
      border-bottom: 3px solid rgba(255, 255, 255, 0.235);
      padding-bottom: 0.2rem;
      /* margin-top: 0.3rem; */
    }
    .border1{
      margin-top: 0;
    }

    .newhead1
    /* .border2{
      padding-top: 0;
    } */

    .endarticles{
      display: flex;
    }
    .endarticles img{
      width: 8%;
    }
    .endarticles {
      display: flex;
      flex-direction: row;
      float: left;
      padding-top: 0;
      margin-top: 0;
      gap: 10px;
      font-size: 0.7rem;

    }
    .endarticles img{
      width: 40%;
      float: left;
      position: relative;
      padding: 0;
      margin: 0;
    }
    .endarticles img {
      width: 35%;
      height: 100%;
    }
  
    .firstart, .secondart, .thirdart {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    
    .endnums{
      font-size: 1.5rem;
      font-weight: 800;
      color: tomato;
    }
  
    .endhead{
      font-weight: 400  ;
      font-size: 0.8rem;
      font-weight: 900;
    }

    
    .wtimg{
      padding-left: 40%;
      /* margin-left: 70px; */
    }
  
}